.chat-send {
  margin-top: 15px;
  display: inline;
}

.send-input {
  width: 90%;
  float: left;
  text
}

.send {
  margin-left: 10px;
}

.chat-window {
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  min-height: 75%;
  max-height: 75%;
}

.chat-time {
  display: inline;
  color: red;
}

.chat-user {
  display: inline;
  margin-left: 5px;
  color: blue;
}

.chat-message-text {
  margin-left: 5px;
  display: inline;
}

.chat-message {
  display: block;
}

.emoticon {
  margin-right: 3px;
  width:20px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

.emoticon:hover {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
}
